@keyframes arrow {
    from {
      inset-inline-start: -20px;
    }
  
    to {
      inset-inline-start: -17px;
    }
  }

@keyframes shiningSparks {
  from {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

@keyframes pulsingHeart {
  from {
      transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.card__like-button:hover {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.contour {
  --core-color: var(--text-color);
  transition: fill 0.1s linear;
}

.main-body {
  --core-color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.core {
  --core-color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  --core-color: var(--text-color);
  opacity: 1;
  transition: opacity 0.3s linear;
}

.like-icon:hover .main-body {
  --core-color: var(--text-color);
  opacity: 1;
  transition: opacity 0.3s 0.05s linear;
}

.like-icon:active .core {
  --core-color: #ff0000;
  opacity: 1;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  --core-color: #ff0000;
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  --core-color: #ff0000;
  opacity: 1;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  --core-color: #ff0000;
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  --contour-color: #ff0000;
  opacity: 1;
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart-icon {
  transform-origin: 50% 50%;
  animation: pulsingHeart 0.3s 0.1s none ease-in alternate;
}

.like-icon.is-liked .sparks {
  --contour-color: #ff0000;
  animation: shiningSparks 0.3s 0.3s none ease-in alternate;
}
